.base {
    height: 100vh;
    background: url('../media/bg.png') no-repeat fixed;
    opacity: 0;
    animation: appear 0.5s forwards;

    &_title {
        font-size: 4rem;
        text-align: center;
        color: white;

        @media screen and (max-width: 62em) {
            font-size: 2.4rem;
        }
    }

    &_text {
        font-size: 1.4rem;
        margin-top: 1rem;
        color: white;

        @media screen and (max-width: 62em) {
            font-size: 0.8rem;
        }
    }

    @keyframes appear {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
